.card {
  display: flex;
  justify-content: space-between;
  background: var(--translucid-black-color);
  padding: var(--padding-small);
  color: var(--main-font-color);
  border: 2px solid var(--second-all-color);
  height: 6.5rem;
  gap: 0.5rem;
  position: relative;
  animation: init 300ms ease-in-out;
}
.card__picture {
  width: auto;
  max-height: 5rem;
  height: auto;
  min-height: 3rem;
}

.card__title {
  text-align: left;
  font-size: 1.2rem;
  padding: var(--padding-small);
}
@keyframes init {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
